.category {
  padding: 30px 0;
  .letter {
    font-size: 15px;
    margin: 0 17px;
    color: #666;
    display: inline-block;
    margin: 0 10px;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
  }
  
}